@* <section class="bg-news-img">
    <div class="container">
    <h1 class="text-primary">Covid-19專區</h1>
    </div>
    </section> *@
<section class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="https://www.country.org.tw" title="首頁">首頁</a></li>
        <li class="breadcrumb-item active" aria-current="page">Covid-19專區</li>
    </ol>
</section>
<section class="container">

    <!-- Content -->
    @* <h2 class="title-border pb-2"><span class="title-border-left pl-2">Covid-19疫苗接種專區</span>
        </h2> *@

    <form method="post">
        <div class="card my-2">
            <div class="card-header text-white bg-primary">
                Covid-19疫苗接種專區
            </div>
            <div class="py-2">
                <h4><i class="fas fa-caret-right text-primary pr-2"></i>COVID-19 疫苗特別門診注意事項</h4><h6> &nbsp; &nbsp; &nbsp; 公告日期: 2021-10-07(四) 09:00</h6>
                
                <p style="margin-left: 20px;color: blue;">
                    ＊下周10/11~10/15 無配發額外疫苗可供預約。<br>
                    @* &nbsp; &nbsp; 若有疫苗配發將再行開放預約，請持續關注本院網頁。<br> *@

                    </p>
                @* <p style="margin-left: 20px;color: blue;">
                    ＊本週地方政府臨時通知配送高端與莫德納疫苗，預計本週二(9/7)上午10點依疫苗配送量開放預約及公告。謝謝<br><br>
                    ＊疫苗通知: 很抱歉，9/8莫德納疫苗取消，因中央疫苗配送不及，未送達本院，以致莫德納疫苗暫停施打<br>
                    ＊已預約民眾本院已協助移至9/10(五)同時段施打，若9/10(五)無法到院施打的民眾可自行取消預約記錄<br>
                    ＊造成不便，敬請見諒。<br>
                </p> *@
                <p style="margin-left: 20px;color: orangered;">
                    本院院內COVID-19 各類疫苗 說明 :<br>
                    依中央疫情指揮中心建議，每次疫苗門診為預約6人以上始得開瓶施打疫苗。<br> 
                    @* 本院目前僅提供莫德納疫苗，時間為周二至周五上午9時至12時;週六上午9時至12時。<br> *@
                    本院目前提供疫苗門診 ; 疫苗注射時間為週一下午14點至17點，週二至週五上午9點至12點，並配合1922預約平台調整。<br>
                    為利疫苗有效使用，開放當日接種最後一瓶剩餘劑量候補名單登記方式。(目前殘劑預約額滿)<br>
                    本院不提供當日現場掛號或加號，當日僅能預約隔日以後之日期。若系統顯示額滿，則表示該時段無法再進行預約，請選擇其他時段預約。<br><br>

                    預約注意事項：<br>
                    目前開放莫德納第二劑接種<br>
                    1.第一類至第三類人員距第一劑接種滿28天。<br>
                    @* 2.有出國需求距第一劑接種滿28天(接種當天請備妥機票影本供查驗)。<br> *@
                    2.本院僅提供第一類醫護疫苗混打，距離第一劑AZ需滿十週。<br>
                    3.全面網路預約制，不開放現場、電話及臨櫃預約掛號；若系統顯示額滿，請選擇其他時段預約。<br>
                    &thinsp; &thinsp; 如掛號頁面未顯示掛號日期，則表示尚未開放預約掛號。<br>
                </p>
                <p style="margin-left: 20px;color: #e0130e;">
                    4.請攜帶健保卡、身分證、黃卡(COVID-19疫苗接種紀錄卡，已接種第一劑疫苗者)、身分類別證明文件、電子機票(出國需求者)以利現場審核，<br>
                    &thinsp; &thinsp; 若無法供以上文件、身分類別不符或未達接種間隔，則取消已預約接種資格且不予接種。
                </p>
                <p style="margin-left: 20px;color: orangered;">
                    5. 請全程正確配戴口罩及確實防疫。<br>
                    6. 接種民眾請穿著可輕鬆捲袖的短袖或無袖衣物，方便快速露出上臂接種。<br>
                    7. 接種後若有嚴重不適或狀況緊急，請儘速至急診就醫。<br>
                    8. 對疫苗成分有嚴重過敏反應史，須經醫師評估後方可接種。<br>
                    ＊本院依照疫苗配給量，開放掛號人數。若疫苗短缺，本院保有取消掛號的權利。<br>
                    ＊疫苗相關事項，請密切追蹤本院官網最新消息。<br>
                </p>
                <p style="margin-left: 20px;color: #e0130e;">
                    若要預約殘劑,請按<a asp-action="A2E">這裡</a>
                </p>

                <div class="row" style="margin-left:1px;">
                    <div class="col-md-6 col-sm-12">
                        <div class="row">
                            <div class="col-md-8 col-sm-12">
                                <div class="form-group">
                                    <label for="id">&nbsp; 預約查詢 / 取消</label>
                                    <input type="text" id="id1" name="id1" class="form-control" placeholder="請輸入身份證字號">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-sm-12">
                                <div class="form-group">
                                    <a href="javascript:void(0)" id="search1" name="search1"
                                        class="btn btn-primary mx-2" onclick="btnSearch()">查詢預約</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12" id='cancelDiv' style='display: none;'>
                        <div class="row" style="color: #332fe3;">
                            <div class="col-md-8 col-sm-12">
                                <div class="form-group">
                                    <label for="res">&nbsp; 查詢結果</label><br>
                                    <label id="res" style="margin-left:8px;"></label><br>
                                    <a href="#" id="cancel1" name="cancel1" class="btn btn-danger mx-2"
                                        onclick="btnCancel()">取消預約</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @* <ol class="pl-4 pt-1 pb-2 m-0">
                    <li class="pb-2"><span class="text-dark">攜帶文件：請攜帶健保卡、身份證 至一樓服務台報到</span></li>
                    <li class="pb-2"><span class="text-dark">預約方式：採網路預約制，暫不提供電話預約及現場預約</span></li>
                    <li class="pb-2"><span class="text-dark">施打時間：每週二、三、四、五、六 早上 08:00~12:00，請預約民眾準時報到</span></li>
                    </ol> *@
            </div>

            <div class="row">
                <div class="col-6">
                    <img class="img-thumbnail" src="https://www.country.org.tw/img/covid19/COVID19-1.png"
                        alt="COVID19施打建議">
                </div>
                <div class="col-6">
                    <img class="img-thumbnail" style="width:100%;height:100%"
                        src="https://www.country.org.tw/img/covid19/COVID19-2.jpg" alt="lang.COVID19接種前注意">
                </div>
                <div class="col-12">
                    <img class="img-thumbnail" src="https://www.country.org.tw/img/covid19/COVID19-3.png"
                        alt="lang.COVID19接種後注意">
                </div>
            </div>

            <br><br>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            &nbsp; <label for="label1">疫苗種類 : </label> &nbsp;
                            <input type="radio" id="AZ" name="vaccType" value="AZ" checked id="AZ">AZ &nbsp; &nbsp;
                            <input type="radio" id="MO" name="vaccType" value="MO" id="MO">Moderna &nbsp; &nbsp;
                            <input type="radio" id="MV" name="vaccType" value="MV" id="MV">高端
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="id">&nbsp; 身份證字號</label>
                            <input type="text" id="id" name="id" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name">&nbsp; 姓名</label>
                            <input type="text" id="name" name="name" class="form-control" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="birthday_year">&nbsp; 生日</label>
                            <input type="text" class="form-control" id="birthday_year" name="birthday_year"
                                placeholder="例:1982" maxlength="4" required>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="birthday_month">&nbsp; 月</label>
                            <input type="text" class="form-control" id="birthday_month" name="birthday_month"
                                placeholder="例:06" maxlength="2" required>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="birthday_day">&nbsp; 日</label>
                            <input type="text" class="form-control" id="birthday_day" name="birthday_day"
                                placeholder="例:24" maxlength="2" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="phone">&nbsp; 聯絡電話</label>
                            <input type="text" class="form-control" id="phone" name="phone" pattern="[0-9#]*"
                                placeholder="例:0988123456 或 0227713161#9" title="僅能輸入數字或是#。" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="addr_country">&nbsp; 居住地-縣市</label>
                            <input type="text" class="form-control" id="addr_country" name="addr_country"
                                placeholder="例:台北市" required>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="addr_city">&nbsp; 居住地-鄉鎮市區</label>
                            <input type="text" class="form-control" id="addr_city" name="addr_city" placeholder="例:大安區"
                                required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="addr_detal">&nbsp; 居住地-街道地址</label>
                            <input type="text" class="form-control" id="addr_detal" name="addr_detal"
                                placeholder="例:仁愛路四段61號" required>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vpid">&nbsp; 預約日期</label>
                            <select id="vpid" name="vpid" class="form-control required">
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="idtypes">&nbsp; 接種身份類別</label>
                            <select id="idtypes" name="idtypes" class="form-control required">
                                @* <option value="1"> 第1類 醫事人員 </option>
                                    <option value="2"> 第2類 中央及地方政府防疫人員 </option>
                                    <option value="3"> 第3類 高接觸風險第一線工作人員 </option>

                                    <option value="6"> 距第一劑施打已滿10週 </option> *@
                                @* @{
                                    foreach (var p in ViewBag.ct)
                                    {
                                    <option value="@p.Id"> @p.Name </option>
                                    }
                                    } *@
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="answer" id="security" name="security">安全確認碼</label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="javascript:void(0)" id="btnGetsecu" name="btnGetsecu" onclick="btnGetSecCode()"><i class="fas fa-undo-alt pr-1"></i>換一題</a>
                            <input type="text" id="answer" name="answer" class="form-control" placeholder='請輸入答案'
                                autocomplete="off" required>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label style="color: orangered;margin-top: 20px;">
                            施打當天請提交在職證明或識別證影本備查。<br>
                            第四類、第七類為為專案申請件，本院不受理預約。<br>
                            本院採用健保署API身份自動審核，倘民眾對預約疫苗身份不符有疑義 <br>
                            請循序洽造冊單位、衛生局、疾管署釐清。
                        </label>
                    </div>
                </div>
            </div>
            <br>

            @if (ViewBag.disableds != "")
            {
                <p style="margin-left: 20px;color: orangered;">預計於 7/1 中午 12:00 開放疫苗預約,在此期間前預約皆屬測試階段</p>
            }
            <div class="row justify-content-center">
                <a href="javascript:void(0)" id="clean" class="btn btn-danger mx-2" title="取消">
                    <i class="fas fa-times"></i> &nbsp; 清除</a>
                <input type="submit" class="btn btn-primary mx-2" value="  送出" @ViewBag.disableds>
                <i class="check fas fa-check" style="left: -72px;"></i>
            </div>
            <br>
        </div>
    </form>

    <!-- <div class="alert alert-primary" role="alert">
            欲取消疫苗接種預約請洽 (+886)2 2771-3161 #130
    </div> -->
</section>

<script type='text/javascript'>
    const contentType = "application/json; charset=utf-8";
    let reload = 0;
    let answer2;
    let token;

    // Echo Add on 2021-08-06
    let vpAZ;
    let vpMO;
    let vpMV;
    // Echo 2021-08-08 Add
    let vptype = '1'; //回寫db用

    //akai 2021-08-11 add
    let cateAZ;
    let cateMO;
    let cateMV;

    // akai Add on 2021-09-03 點下高端之後帶出日期
    $('#MV').click(function () {
        vptype = '3';
        var formoption = "";
        $.each(vpMV, function (v) {
            var val1 = vpMV[v].id;
            var val2 = vpMV[v].head;
            if (vpMV[v].disabled === true) {
                formoption += "<option value='" + val1 + "' disabled>" + val2 + "</option>";
            } else {
                formoption += "<option value='" + val1 + "'>" + val2 + "</option>";
            }

        });
        $('#vpid').html(formoption);

        var formoption1 = ""; // akai 2021-09-03 Add 點下高端後帶出身份類別
        $.each(cateMV, function (v) {
            var val1 = cateMV[v].id;
            var val2 = cateMV[v].head;
            if (cateMV[v].disabled === true) {
                formoption1 += "<option value='" + val1 + "' disabled>" + val2 + "</option>";
            } else {
                formoption1 += "<option value='" + val1 + "'>" + val2 + "</option>";
            }
        });
        $('#idtypes').html(formoption1);
    });


    // Echo Add on 2021-08-06 點下MO之後帶出日期
    $('#MO').click(function () {
        // Echo 2021-08-08 Add
        vptype = '2';
        var formoption = "";
        $.each(vpMO, function (v) {
            var val1 = vpMO[v].id;
            var val2 = vpMO[v].head;
            if (vpMO[v].disabled === true) {
                formoption += "<option value='" + val1 + "' disabled>" + val2 + "</option>";
            } else {
                formoption += "<option value='" + val1 + "'>" + val2 + "</option>";
            }

        });
        $('#vpid').html(formoption);

        var formoption1 = ""; // akai 2021-08-12 Add
        $.each(cateMO, function (v) {
            var val1 = cateMO[v].id;
            var val2 = cateMO[v].head;
            if (cateMO[v].disabled === true) {
                formoption1 += "<option value='" + val1 + "' disabled>" + val2 + "</option>";
            } else {
                formoption1 += "<option value='" + val1 + "'>" + val2 + "</option>";
            }
        });
        $('#idtypes').html(formoption1);
    });

    // Echo Add on 2021-08-06 點下AZ之後帶出日期
    $('#AZ').click(function () {
        // Echo 2021-08-08 Add
        vptype = '1';
        var formoption = ""; // Echo 2021-08-09 Add
        $.each(vpAZ, function (v) {
            var val1 = vpAZ[v].id;
            var val2 = vpAZ[v].head;
            if (vpAZ[v].disabled === true) {
                formoption += "<option value='" + val1 + "' disabled>" + val2 + "</option>";
            } else {
                formoption += "<option value='" + val1 + "'>" + val2 + "</option>";
            }
        });
        $('#vpid').html(formoption);

        var formoption1 = ""; // akai 2021-08-12 Add
        $.each(cateAZ, function (v) {
            var val1 = cateAZ[v].id;
            var val2 = cateAZ[v].head;
            if (cateAZ[v].disabled === true) {
                formoption1 += "<option value='" + val1 + "' disabled>" + val2 + "</option>";
            } else {
                formoption1 += "<option value='" + val1 + "'>" + val2 + "</option>";
            }
        });
        $('#idtypes').html(formoption1);

    });
    //讓使用者輸入四碼年份後跳下一個月份輸入框
    function moveNextId_ID() {
        if (inputID.value.length == 10) {
            debugger;
            document.getElementById('name').focus();
        }
    }
    var inputID = document.getElementById('id');
    inputID.addEventListener("keyup", moveNextId_ID, false);

    //讓使用者輸入四碼年份後跳下一個月份輸入框
    function moveNextId_Y() {
        if (inputYear.value.length == 4) {
            debugger;
            document.getElementById('birthday_month').focus();
        }
    }
    var inputYear = document.getElementById('birthday_year');
    inputYear.addEventListener("keyup", moveNextId_Y, false);

    //讓使用者輸入2碼月份後跳下一個日期輸入框
    function moveNextId_M() {
        if (inputMonth.value.length == 2) {
            debugger;
            document.getElementById('birthday_day').focus();
        }
    }
    var inputMonth = document.getElementById('birthday_month');
    inputMonth.addEventListener("keyup", moveNextId_M, false);

    //讓使用者輸入2碼日期後跳下一個電話輸入框
    function moveNextId_D() {
        if (inputDay.value.length == 2) {
            debugger;
            document.getElementById('phone').focus();
        }
    }
    var inputDay = document.getElementById('birthday_day');
    inputDay.addEventListener("keyup", moveNextId_D, false);


    $(document).ready(function () {
        localStorage.removeItem('guid');

        $('#clean').click(function () {
            $('form').trigger('reset');
        });

        const urlp = '@ViewBag.uRI' + 'Fetch';
        $.ajax({
            url: urlp,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            timeout: 30000,
            success: function (data) {
                token = data.token;
                answer2 = data.answer;

                document.getElementById("security").innerText = ' 請回答: ' + data.security;

                // Echo Add on 2021-08-06 將日期先放到共用變數裡
                vpAZ = data.vp1;
                vpMO = data.vpMo;
                vpMV = data.vpMv;

                cateAZ = data.cateAZ;
                cateMO = data.cateMO;
                cateMV = data.cateMV;

                const vp1 = data.vp1;
                var formoption = "";
                $.each(vp1, function (v) {
                    var val1 = vp1[v].id;
                    var val2 = vp1[v].head;
                    if (vp1[v].disabled === true) {
                        formoption += "<option value='" + val1 + "' disabled>" + val2 + "</option>";
                    } else {
                        formoption += "<option value='" + val1 + "'>" + val2 + "</option>";
                    }

                });

                $('#vpid').html(formoption);

                const cate1 = data.cateAZ;
                var formoption1 = "";
                $.each(cate1, function (v) {
                    var val1 = cate1[v].id;
                    var val2 = cate1[v].head;
                    if (cate1[v].disabled === true) {
                        formoption1 += "<option value='" + val1 + "' disabled>" + val2 + "</option>";
                    } else {
                        formoption1 += "<option value='" + val1 + "'>" + val2 + "</option>";
                    }

                });
                $('#idtypes').html(formoption1);
            },

            error: function (xhr, textStatus) {
                console.log(xhr);
                console.log(textStatu);
            },
        });

    });

    // Echo Add on 2021-08-06 Mark
    // $('#MO').click(function(){
    //     
    // });

    $('form').submit(function (e) {
        e.preventDefault();
        localStorage.removeItem('guid');
        let id = $('#id').val();
        const vpid = $('#vpid option:selected').val();
        if (vpid === undefined || vpid === '') {
            $('.modal').modal('show');
            $('.modal-title').html('<i class="fas fa-exclamation-triangle text-warning pr-2"></i>預約日期錯誤');
            $('.modal-body').html('<p class="m-0">請先選擇預約日期</p>');
            console.log(vpid);
            return;
        }

        if (twIdChk(id) === false) {
            //return;
            $('.modal').modal('show');
            $('.modal-title').html('<i class="fas fa-exclamation-triangle text-warning pr-2"></i>身份證格式錯誤');
            $('.modal-body').html('<p class="m-0">身份證驗證失敗，請注意英文字是否為半型，或是否輸入正確之身份證號。</p>');
            return;
        } 

        let idLength = $('#id').val().length;
        if (idLength < 8) {
            $('.modal').modal('show');
            $('.modal-title').html('<i class="fas fa-exclamation-triangle text-warning pr-2"></i>格式錯誤');
            $('.modal-body').html('<p class="m-0">身分證字號長度需大於8碼</p>');
            return;
        }

        let brLength_Y = $('#birthday_year').val().length;
        if (brLength_Y !== 4) {
            $('.modal').modal('show');
            $('.modal-title').html('<i class="fas fa-exclamation-triangle text-warning pr-2"></i>格式錯誤');
            $('.modal-body').html('<p class="m-0">西元年格式需為4碼</p>');
            return;
        }

        let br = $('#birthday_year').val()

        var birth = $('#birthday_year').val() + '-' + $('#birthday_month').val() + '-' + $('#birthday_day').val();
        var birthday = new Date(birth.replace('/-/g', "\/"));
        var d = new Date();
        var age = d.getFullYear() - birthday.getFullYear() - ((d.getMonth() < birthday.getMonth() || d.getMonth() == birthday.getMonth() && d.getDate() < birthday.getDate()) ? 1 : 0);
    @* alert(age); *@

    @* console.log('now:' + now);
        console.log('age:' + age);
        console.log('now-birthday:' + (now - birthday)); *@
        @* 醫管室110.10.04從20歲下修為18歲以上可施打疫苗 *@
        if (age < 18) {
            $('.modal').modal('show');
            $('.modal-title').html('<i class="fas fa-exclamation-triangle text-warning pr-2"></i>年齡不符');
            $('.modal-body').html('<p class="m-0">施打疫苗需年滿18歲</p>');
            return;
        }

        let brLength_M = $('#birthday_month').val().length;
        if (brLength_M !== 2) {
            $('.modal').modal('show');
            $('.modal-title').html('<i class="fas fa-exclamation-triangle text-warning pr-2"></i>格式錯誤');
            $('.modal-body').html('<p class="m-0">月份格式需為2碼</p>');
            return;
        }

        let brLength_D = $('#birthday_day').val().length;
        if (brLength_D !== 2) {
            $('.modal').modal('show');
            $('.modal-title').html('<i class="fas fa-exclamation-triangle text-warning pr-2"></i>格式錯誤');
            $('.modal-body').html('<p class="m-0">日格式需為2碼</p>');
            return;
        }

        const answer1 = $('#answer').val();
        @* console.log(answer1)
        console.log(answer2) *@
        if (answer1 !== answer2) {
            $('.modal').modal('show');
            $('.modal-title').html('<i class="fas fa-exclamation-triangle text-warning pr-2"></i>安全確認碼');
            $('.modal-body').html('<p class="m-0">安全確認碼錯誤</p>');
            return;
        }

        const idtypes = $('#idtypes option:selected').val();
        const pa = {
            "id": $('#id').val(),
            "name": $('#name').val(),
            "birthday_year": $('#birthday_year').val(),
            "birthday_month": $('#birthday_month').val(),
            "birthday_day": $('#birthday_day').val(),
            "phone": $('#phone').val(),
            "vpid": vpid,
            "sECURITY": "",
            "addr_country": $('#addr_country').val(),
            "addr_city": $('#addr_city').val(),
            "addr_detal": $('#addr_detal').val(),
            "idtypes": idtypes,
            "vptype": vptype // Echo 2021-08-08 Add
        }

        const data1 = JSON.stringify(pa);
        const urlx = '@ViewBag.uRI' + 'CheckOne';

        $.ajax({
            url: urlx,
            type: "POST",
            headers: {
                "Authorization": "Bearer " + token + ""
            },
            contentType: contentType,
            dataType: "json",
            data: data1,
            // echo 110.08.02 , 設成 0 , 永不超時
            timeout: 0,
            async: true,
            // echo 110.08.02 oepen
            //akai 110.07.12暫時移除使用健保API檢核身份類別
            beforeSend: function () {

                $('.modal').modal('show');
                $('.modal-title').html('<i class="fas fa-exclamation-triangle text-warning pr-2"></i>身份檢核中');
                $('.modal-body').html('<p class="m-0">身份類別確認中</p>');
                $("#mf").hide();
            },
            
            success: function (data) {

                $("#mf").show();
                if (data.code === "200") {
                    reload = 1;
                    $('.modal').modal('show');
                    $('.modal-title').html('<i class="fas fa-exclamation-triangle text-warning pr-2"></i>預約成功');
                    $('.modal-body').html('<p class="m-0">' + data.msg + '</p>');
                } else if (data.code === "300") {
                    $('.modal').modal('show');
                    $('.modal-title').html('<i class="fas fa-exclamation-triangle text-warning pr-2"></i>預約失敗');
                    $('.modal-body').html('<p class="m-0">' + data.msg + '</p>');
                } else if (data.code === "400") {
                    $('.modal').modal('show');
                    $('.modal-title').html('<i class="fas fa-exclamation-triangle text-warning pr-2"></i>預約失敗');
                    $('.modal-body').html('<p class="m-0">' + data.msg + '</p>');
                } else if (data.code === "700") {
                    $('.modal').modal('show');
                    $('.modal-title').html('<i class="fas fa-exclamation-triangle text-warning pr-2"></i>預約失敗');
                    $('.modal-body').html('<p class="m-0">' + data.msg + '</p>');
                } else {
                    $('.modal').modal('show');
                    $('.modal-title').html('<i class="fas fa-exclamation-triangle text-warning pr-2"></i>重覆預約');
                    $('.modal-body').html('<p class="m-0">' + data.msg + '</p>');
                };
            },
            error: function (xhr) {
                console.log('3');
                console.log('預約錯誤');
                console.log(xhr);
                $('.modal').modal('show');
                $('.modal-title').html('<i class="fas fa-exclamation-triangle text-warning pr-2"></i>預約失敗');
                $('.modal-body').html('<p class="m-0">不正確的操作方式</p>');
                $("#mf").show();
            }
        });

    });

    function btnSearch() {
        localStorage.removeItem('guid');

        if ($('#id1').val() === "") {
            return;
        };

        const pa1 = {
            "id": $('#id1').val(),
        };

        const urlp1 = '@ViewBag.uRI' + 'Search1';

        $.ajax({
            url: urlp1,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(pa1),
            timeout: 30000,
            beforeSend: function () {
                $('#cancelDiv').hide();
                $('#res').html('');
                localStorage.removeItem('guid');
            },
            success: function (data) {
                let res = '';
                if (data.idcod === 1) {
                    res = data.id + '&nbsp;&nbsp;' + data.name + '<br>' + data.msg;
                } else {
                    res = data.msg;
                }
                if (data.show1 === 1) {
                    localStorage.setItem('guid', data.guid);
                    $('#cancel1').show();
                } else {
                    $('#cancel1').hide();
                }

                $('#cancelDiv').show();
                $('#res').html(res);
            },
            complete: function () {
                $('#id1').val('')
            },
            error: function (xhr, textStatus) {
                console.log(xhr);
                console.log(textStatus);
            },
        });

    }

    // localStorage.getItem('guid')
    function btnCancel() {
        const guid = localStorage.getItem('guid');
        if (guid === null || guid === undefined || guid === '') {
            return;
        }

        const pac = {
            guid: guid
        };

        const urlp1 = '@ViewBag.uRI' + 'Cancel1';
        $.ajax({
            url: urlp1,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(pac),
            timeout: 30000,
            success: function (data) {
                $('.modal').modal('show');
                $('.modal-title').html('<i class="fas fa-exclamation-triangle text-warning pr-2"></i>取消預約');
                $('.modal-body').html('<p class="m-0">您的預約已取消</p>');

            }, complete: function () {
                $('#cancelDiv').hide();
                $('#res').html('');
                localStorage.removeItem('guid');
            },
            error: function (xhr, textStatus) {
                console.log(xhr);
                console.log(textStatus);
            },
        });

    }

    function rl() {
        if (reload === 1) {
            window.location.reload();
        }
    };

    $('#back-to-bottom').click(function () {
        $('html, body').animate({ scrollTop: $(document).height() }, 1000);
    });

    $('#div_id').click(function () {
        $('html, body').animate({ scrollTop: $(document).height() - 1200 }, 1000);
    });


    function twIdChk(id) {

        let city = new Array(1, 10, 19, 28, 37, 46, 55, 64, 39, 73, 82, 2, 11, 20, 48, 29, 38, 47, 56, 65, 74, 83, 21, 3, 12, 30);
        if (id.search(/^[A-Z](1|2)\d{8}$/i) === -1) {
            return false;
        } else {
            //將字串分割為陣列(IE必需這麼做才不會有問題)
            const id1 = id.split('');
            //計算總分
            let total = city[id1[0].charCodeAt(0) - 65];
            for (let i = 1; i <= 8; i++) {
                total += eval((id1[i])) * (9 - i);
            }
            //補上檢查碼
            total += eval(id1[9]);
            return ((total % 10 === 0));
        }
    }
    function btnGetSecCode() {

        @* localStorage.removeItem('guid'); *@
        
        const urlp = '@ViewBag.uRI' + 'getSecCode';
        $.ajax({
            url: urlp,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            timeout: 30000,
            success: function (data) {
                token = data.token;
                answer2 = data.answer;
                document.getElementById("security").innerText = ' 請回答: ' + data.security;
                @* console.log(answer2) *@
            }
        });
    }
</script>

<div class="modal fade">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                @* <button type="button" class="close" data-dismiss="modal"><b>×</b></button> *@
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer" id="mf">
                <a class="btn btn-primary text-white" title="關閉" data-dismiss="modal" onclick="rl()">關閉</a>
            </div>
        </div>
    </div>
</div>
