@* <section class="bg-news-img">
    <div class="container">
    <h1 class="text-primary">Covid-19專區</h1>
    </div>
    </section> *@
<section class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="https://www.country.org.tw" title="首頁">首頁</a></li>
        <li class="breadcrumb-item active" aria-current="page">Covid-19專區</li>
    </ol>
</section>
<section class="container">

    <!-- Content -->
    @* <h2 class="title-border pb-2"><span class="title-border-left pl-2">Covid-19疫苗接種專區</span>
        </h2> *@

    <form method="post">
        <div class="card my-2">
            <div class="card-header text-white bg-primary">
                Covid-19疫苗接種專區
            </div>
            <div class="py-2">
                <h4><i class="fas fa-caret-right text-primary pr-2"></i>COVID-19 疫苗特別門診注意事項</h4>
                <p style="margin-left: 20px;color: blue;">

                    ＊每週一上午10:00開放該週Covid19疫苗接種登記。<br><br>

                </p>
                <p style="margin-left: 20px;color: orangered;">
                    本院院內開打疫苗 說明 : <br>
                    為第1類至第3類、距第一劑施打已滿10週，請至「下方表單填寫預約資料」。<br>
                    依中央疫情指揮中心建議，每次疫苗門診為預約6人以上始得開瓶施打疫苗。<br>
                    本院所提供AZ與莫德納疫苗，時間為周二至周五上午8時至11時;週六上午9時至12時。<br>
                    為利疫苗有效使用，開放當日接種最後一瓶剩餘劑量候補名單登記方式。<br>
                    本院不提供當日現場掛號或加號，當日僅能預約隔日以後之日期。若系統顯示額滿，則表示該時段無法再進行預約，請選擇其他時段預約。<br>
                    另外疫苗量不穩定，僅開放7日內預約掛號，若疫苗短缺本院保有取消您掛號的權利，請隨時追蹤本院官網公告。<br><br>

                    莫德納第二劑接種資格說明:<br>
                    1.第一類至第三類人員距第一劑接種滿28天。<br>
                    2.有出國需求距第一劑接種滿28天(接種當天請備妥機票影本供查驗)。<br>
                    3.一般民眾距第一劑莫德納接種滿10週。<br>
                    本院暫無提供疫苗混打。
                </p>
                <p style="margin-left: 20px;color: #e0130e;">
                    若要預約殘劑,請按<a asp-action="A2E">這裡</a>
                </p>

                <div class="row" style="margin-left:1px;">
                    <div class="col-md-6 col-sm-12">
                        <div class="row">
                            <div class="col-md-8 col-sm-12">
                                <div class="form-group">
                                    <label for="id">&nbsp; 預約查詢</label>
                                    <input type="text" id="id1" name="id1" class="form-control" placeholder="請輸入身份證字號">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-sm-12">
                                <div class="form-group">
                                    <a href="#" id="search1" name="search1" class="btn btn-primary mx-2"
                                        onclick="btnSearch()">查詢預約</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12" id='cancelDiv' style='display: none;'>
                        <div class="row" style="color: #332fe3;">
                            <div class="col-md-8 col-sm-12">
                                <div class="form-group">
                                    <label for="res">&nbsp; 查詢結果</label><br>
                                    <label id="res" style="margin-left:8px;"></label><br>
                                    <a href="#" id="cancel1" name="cancel1" class="btn btn-danger mx-2"
                                        onclick="btnCancel()">取消預約</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <ol class="pl-4 pt-1 pb-2 m-0">
                    <li class="pb-2"><span class="text-dark">攜帶文件：請攜帶健保卡、身份證 至一樓服務台報到</span></li>
                    <li class="pb-2"><span class="text-dark">預約方式：採網路預約制，暫不提供電話預約及現場預約</span></li>
                    <li class="pb-2"><span class="text-dark">施打時間：每週二、三、四、五、六 早上 08:00~12:00，請預約民眾準時報到</span></li>
                </ol>
            </div>

            <div class="row">
                <div class="col-6">
                    <img class="img-thumbnail" src="https://www.country.org.tw/img/covid19/COVID19-1.png"
                        alt="COVID19施打建議">
                </div>
                <div class="col-6">
                    <img class="img-thumbnail" style="width:100%;height:100%"
                        src="https://www.country.org.tw/img/covid19/COVID19-2.jpg" alt="lang.COVID19接種前注意">
                </div>
                <div class="col-12">
                    <img class="img-thumbnail" src="https://www.country.org.tw/img/covid19/COVID19-3.png"
                        alt="lang.COVID19接種後注意">
                </div>
            </div>

            <br><br>
            <div lass="card-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            &nbsp; <label for="label1">疫苗種類 : </label> &nbsp;
                            <input type="radio" id="AZ" name="vaccType" value="AZ" checked id="AZ">AZ &nbsp; &nbsp;
                            <input type="radio" id="MO" name="vaccType" value="MO" id="MO">Moderna
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="id">&nbsp; 身份證字號</label>
                            <input type="text" id="id" name="id" class="form-control" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name">&nbsp; 姓名</label>
                            <input type="text" id="name" name="name" class="form-control" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="birthday_year">&nbsp; 生日</label>
                            <input type="text" class="form-control" id="birthday_year" name="birthday_year"
                                placeholder="例:1982" maxlength="4" required>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="birthday_month">&nbsp; 月</label>
                            <input type="text" class="form-control" id="birthday_month" name="birthday_month"
                                placeholder="例:06" maxlength="2" required>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="birthday_day">&nbsp; 日</label>
                            <input type="text" class="form-control" id="birthday_day" name="birthday_day"
                                placeholder="例:24" maxlength="2" required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="phone">&nbsp; 聯絡電話</label>
                            <input type="text" class="form-control" id="phone" name="phone" pattern="[0-9#]*"
                                placeholder="例:0988123456 或 0227713161#9" title="僅能輸入數字或是#。" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="addr_country">&nbsp; 居住地-縣市</label>
                            <input type="text" class="form-control" id="addr_country" name="addr_country"
                                placeholder="例:台北市" required>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="addr_city">&nbsp; 居住地-鄉鎮市區</label>
                            <input type="text" class="form-control" id="addr_city" name="addr_city" placeholder="例:大安區"
                                required>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="addr_detal">&nbsp; 居住地-街道地址</label>
                            <input type="text" class="form-control" id="addr_detal" name="addr_detal"
                                placeholder="例:仁愛路四段61號" required>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="vpid">&nbsp; 預約日期</label>
                            <select id="vpid" name="vpid" class="form-control required">
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="idtypes">&nbsp; 接種身份類別</label>
                            <select id="idtypes" name="idtypes" class="form-control required">
                                @* <option value="1"> 第1類 醫事人員 </option>
                                <option value="2"> 第2類 中央及地方政府防疫人員 </option>
                                <option value="3"> 第3類 高接觸風險第一線工作人員 </option>

                                <option value="6"> 距第一劑施打已滿10週 </option> *@
                                @* @{
                                    foreach (var p in ViewBag.ct)
                                    {
                                    <option value="@p.Id"> @p.Name </option>
                                    }
                                    } *@
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="answer" id="security" name="security">安全確認碼</label>
                            <input type="text" id="answer" name="answer" class="form-control" placeholder='請輸入安全確認碼'
                                autocomplete="off" required>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label style="color: orangered;margin-top: 20px;">
                            施打當天請提交在職證明或識別證影本備查。<br>
                            第四類、第七類為為專案申請件，本院不受理預約。<br>
                            本院採用健保署API身份自動審核，倘民眾對預約疫苗身份不符有疑義 <br>
                            請循序洽造冊單位、衛生局、疾管署釐清。
                        </label>
                    </div>
                </div>
            </div>
            <br>

            @if (ViewBag.disableds != "")
            {
                <p style="margin-left: 20px;color: orangered;">預計於 7/1 中午 12:00 開放疫苗預約,在此期間前預約皆屬測試階段</p>
            }
            <div class="row justify-content-center">
                <a href="#" id="clean" class="btn btn-danger mx-2" title="取消">
                    <i class="fas fa-undo-alt pr-1"></i>清除</a>
                <input type="submit" class="btn btn-primary mx-2" value="  送出" @ViewBag.disableds>
                <i class="check fas fa-check" style="left: -72px;"></i>
            </div>
            <br>
        </div>
    </form>

    <!-- <div class="alert alert-primary" role="alert">
            欲取消疫苗接種預約請洽 (+886)2 2771-3161 #130
    </div> -->
</section>

<script type='text/javascript'>
    const contentType = "application/json; charset=utf-8";
    let reload = 0;
    let answer2;
    let token;

    // Echo Add on 2021-08-06
    let vpAZ;
    let vpMO;

    // Echo 2021-08-08 Add
    let vptype = '1';

    //akai 2021-08-11 add
    let cateAZ;
    let cateMO;

    // Echo Add on 2021-08-06 點下MO之後帶出日期
    $('#MO').click(function () {
        // Echo 2021-08-08 Add
        vptype = '2';
        var formoption = "";
        $.each(vpMO, function (v) {
            var val1 = vpMO[v].id;
            var val2 = vpMO[v].head;
            if (vpMO[v].disabled === true) {
                formoption += "<option value='" + val1 + "' disabled>" + val2 + "</option>";
            } else {
                formoption += "<option value='" + val1 + "'>" + val2 + "</option>";
            }

        });
        $('#vpid').html(formoption);
        
        var formoption1 = ""; // akai 2021-08-12 Add
        $.each(cateMO, function (v) {
            var val1 = cateMO[v].id;
            var val2 = cateMO[v].head;
            if (cateMO[v].disabled === true) {
                formoption1 += "<option value='" + val1 + "' disabled>" + val2 + "</option>";
            } else {
                formoption1 += "<option value='" + val1 + "'>" + val2 + "</option>";
            }
        });
        $('#idtypes').html(formoption1);
    });

    // Echo Add on 2021-08-06 點下AZ之後帶出日期
    $('#AZ').click(function () {
        // Echo 2021-08-08 Add
        vptype = '1';
        var formoption = ""; // Echo 2021-08-09 Add
        $.each(vpAZ, function (v) {
            var val1 = vpAZ[v].id;
            var val2 = vpAZ[v].head;
            if (vpAZ[v].disabled === true) {
                formoption += "<option value='" + val1 + "' disabled>" + val2 + "</option>";
            } else {
                formoption += "<option value='" + val1 + "'>" + val2 + "</option>";
            }
        });
        $('#vpid').html(formoption);

        var formoption1 = ""; // akai 2021-08-12 Add
        $.each(cateAZ, function (v) {
            var val1 = cateAZ[v].id;
            var val2 = cateAZ[v].head;
            if (cateAZ[v].disabled === true) {
                formoption1 += "<option value='" + val1 + "' disabled>" + val2 + "</option>";
            } else {
                formoption1 += "<option value='" + val1 + "'>" + val2 + "</option>";
            }
        });
        $('#idtypes').html(formoption1);


    });

    $(document).ready(function () {
        localStorage.removeItem('guid');

        $('#clean').click(function () {
            $('form').trigger('reset');
        });

        const urlp = '@ViewBag.uRI' + 'Fetch';
        $.ajax({
            url: urlp,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            timeout: 30000,
            success: function (data) {
                token = data.token;
                answer2 = data.answer;

                document.getElementById("security").innerText = ' 安全確認碼: ' + data.security;

                // Echo Add on 2021-08-06 將日期先放到共用變數裡
                vpAZ = data.vp1;
                vpMO = data.vpMo;

                cateAZ = data.cateAZ;
                cateMO = data.cateMO;

                const vp1 = data.vp1;
                var formoption = "";
                $.each(vp1, function (v) {
                    var val1 = vp1[v].id;
                    var val2 = vp1[v].head;
                    if (vp1[v].disabled === true) {
                        formoption += "<option value='" + val1 + "' disabled>" + val2 + "</option>";
                    } else {
                        formoption += "<option value='" + val1 + "'>" + val2 + "</option>";
                    }

                });

                $('#vpid').html(formoption);

                const cate1 = data.cateAZ;
                var formoption1 = "";
                $.each(cate1, function (v) {
                    var val1 = cate1[v].id;
                    var val2 = cate1[v].head;
                    if (cate1[v].disabled === true) {
                        formoption1 += "<option value='" + val1 + "' disabled>" + val2 + "</option>";
                    } else {
                        formoption1 += "<option value='" + val1 + "'>" + val2 + "</option>";
                    }

                });
                $('#idtypes').html(formoption1);
            },

            error: function (xhr, textStatus) {
                console.log(xhr);
                console.log(textStatu);
            },
        });

    });

    // Echo Add on 2021-08-06 Mark
    // $('#MO').click(function(){
    //     
    // });

    $('form').submit(function (e) {
        e.preventDefault();
        localStorage.removeItem('guid');

        let idLength = $('#id').val().length;
        if (idLength < 8) {
            $('.modal').modal('show');
            $('.modal-title').html('<i class="fas fa-exclamation-triangle text-warning pr-2"></i>格式錯誤');
            $('.modal-body').html('<p class="m-0">身分證字號長度需大於8碼</p>');
            return;
        }

        let brLength_Y = $('#birthday_year').val().length;
        if (brLength_Y !== 4) {
            $('.modal').modal('show');
            $('.modal-title').html('<i class="fas fa-exclamation-triangle text-warning pr-2"></i>格式錯誤');
            $('.modal-body').html('<p class="m-0">西元年格式需為4碼</p>');
            return;
        }

        let brLength_M = $('#birthday_month').val().length;
        if (brLength_M !== 2) {
            $('.modal').modal('show');
            $('.modal-title').html('<i class="fas fa-exclamation-triangle text-warning pr-2"></i>格式錯誤');
            $('.modal-body').html('<p class="m-0">月份格式需為2碼</p>');
            return;
        }

        let brLength_D = $('#birthday_day').val().length;
        if (brLength_D !== 2) {
            $('.modal').modal('show');
            $('.modal-title').html('<i class="fas fa-exclamation-triangle text-warning pr-2"></i>格式錯誤');
            $('.modal-body').html('<p class="m-0">日格式需為2碼</p>');
            return;
        }

        const answer1 = $('#answer').val();
        if (answer1 !== answer2) {
            $('.modal').modal('show');
            $('.modal-title').html('<i class="fas fa-exclamation-triangle text-warning pr-2"></i>安全確認碼');
            $('.modal-body').html('<p class="m-0">安全確認碼錯誤</p>');
            return;
        }

        const vpid = $('#vpid option:selected').val();
        const pa = {
            "id": $('#id').val(),
            "name": $('#name').val(),
            "birthday_year": $('#birthday_year').val(),
            "birthday_month": $('#birthday_month').val(),
            "birthday_day": $('#birthday_day').val(),
            "phone": $('#phone').val(),
            "vpid": vpid,
            "sECURITY": "",
            "addr_country": $('#addr_country').val(),
            "addr_city": $('#addr_city').val(),
            "addr_detal": $('#addr_detal').val(),
            "idtypes": $('#idtypes').val(),
            "vptype": vptype // Echo 2021-08-08 Add
        }

        const data1 = JSON.stringify(pa);
        const urlx = '@ViewBag.uRI' + 'CheckOne';

        $.ajax({
            url: urlx,
            type: "POST",
            headers: {
                "Authorization": "Bearer " + token + ""
            },
            contentType: contentType,
            dataType: "json",
            data: data1,
            // echo 110.08.02 , 設成 0 , 永不超時
            timeout: 0,
            async: true,
            // echo 110.08.02 oepen
            //akai 110.07.12暫時移除使用健保API檢核身份類別
            beforeSend: function () {

                $('.modal').modal('show');
                $('.modal-title').html('<i class="fas fa-exclamation-triangle text-warning pr-2"></i>身份檢核中');
                $('.modal-body').html('<p class="m-0">身份類別確認中</p>');
                $("#mf").hide();
            },
            success: function (data) {

                $("#mf").show();
                if (data.code === "200") {
                    reload = 1;
                    $('.modal').modal('show');
                    $('.modal-title').html('<i class="fas fa-exclamation-triangle text-warning pr-2"></i>預約成功');
                    $('.modal-body').html('<p class="m-0">' + data.msg + '</p>');
                } else if (data.code === "300") {
                    $('.modal').modal('show');
                    $('.modal-title').html('<i class="fas fa-exclamation-triangle text-warning pr-2"></i>預約失敗');
                    $('.modal-body').html('<p class="m-0">' + data.msg + '</p>');
                } else if (data.code === "400") {
                    $('.modal').modal('show');
                    $('.modal-title').html('<i class="fas fa-exclamation-triangle text-warning pr-2"></i>預約失敗');
                    $('.modal-body').html('<p class="m-0">' + data.msg + '</p>');
                } else if (data.code === "700") {
                    $('.modal').modal('show');
                    $('.modal-title').html('<i class="fas fa-exclamation-triangle text-warning pr-2"></i>預約失敗');
                    $('.modal-body').html('<p class="m-0">' + data.msg + '</p>');
                } else {
                    $('.modal').modal('show');
                    $('.modal-title').html('<i class="fas fa-exclamation-triangle text-warning pr-2"></i>重覆預約');
                    $('.modal-body').html('<p class="m-0">' + data.msg + '</p>');
                };
            },
            error: function (xhr) {
                console.log('3');
                console.log('預約錯誤');
                console.log(xhr);
                $('.modal').modal('show');
                $('.modal-title').html('<i class="fas fa-exclamation-triangle text-warning pr-2"></i>預約失敗');
                $('.modal-body').html('<p class="m-0">不正確的操作方式</p>');
                $("#mf").show();
            }
        });

    });

    function btnSearch() {
        localStorage.removeItem('guid');

        if ($('#id1').val() === "") {
            return;
        };

        const pa1 = {
            "id": $('#id1').val(),
        };

        const urlp1 = '@ViewBag.uRI' + 'Search1';

        $.ajax({
            url: urlp1,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(pa1),
            timeout: 30000,
            beforeSend: function () {
                $('#cancelDiv').hide();
                $('#res').html('');
                localStorage.removeItem('guid');
            },
            success: function (data) {
                let res = '';
                if (data.idcod === 1) {
                    res = data.id + '&nbsp;&nbsp;' + data.name + '<br>' + data.msg;
                } else {
                    res = data.msg;
                }
                if (data.show1 === 1) {
                    localStorage.setItem('guid', data.guid);
                    $('#cancel1').show();
                } else {
                    $('#cancel1').hide();
                }

                $('#cancelDiv').show();
                $('#res').html(res);
            },
            complete: function () {
                $('#id1').val('')
            },
            error: function (xhr, textStatus) {
                console.log(xhr);
                console.log(textStatus);
            },
        });

    }

    // localStorage.getItem('guid')
    function btnCancel() {
        const guid = localStorage.getItem('guid');
        if (guid === null || guid === undefined || guid === '') {
            return;
        }

        const pac = {
            guid: guid
        };

        const urlp1 = '@ViewBag.uRI' + 'Cancel1';
        $.ajax({
            url: urlp1,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify(pac),
            timeout: 30000,
            success: function (data) {
                $('.modal').modal('show');
                $('.modal-title').html('<i class="fas fa-exclamation-triangle text-warning pr-2"></i>取消預約');
                $('.modal-body').html('<p class="m-0">您的預約已取消</p>');

            }, complete: function () {
                $('#cancelDiv').hide();
                $('#res').html('');
                localStorage.removeItem('guid');
            },
            error: function (xhr, textStatus) {
                console.log(xhr);
                console.log(textStatus);
            },
        });

    }

    function rl() {
        if (reload === 1) {
            window.location.reload();
        }
    };

    $('#back-to-bottom').click(function () {
        $('html, body').animate({ scrollTop: $(document).height() }, 1000);
    });

    $('#div_id').click(function () {
        $('html, body').animate({ scrollTop: $(document).height() - 1200 }, 1000);
    });
</script>

<div class="modal fade">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                @* <button type="button" class="close" data-dismiss="modal"><b>×</b></button> *@
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer" id="mf">
                <a class="btn btn-primary text-white" title="關閉" data-dismiss="modal" onclick="rl()">關閉</a>
            </div>
        </div>
    </div>
</div>
